/* Garanta que HTML e body cubram toda a altura */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Estilo para a página inteira */
.page-container {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Estilização da Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0073ff;
  color: white;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-menu li {
  margin: 0 15px;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
}

.navbar-menu a:hover {
  text-decoration: underline;
}

/* Estilização do conteúdo */
.graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f4f6f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
  flex: 1;
  width: 100%;
}

.graph-wrapper {
  width: calc(100% - 80px); /* Reduza a largura do gráfico se necessário */
  height: calc(100vh - 80px - 100px - 60px); /* Ajuste a altura considerando o tamanho da navbar e a mensagem de status */
  max-height: 80%; /* Limite a altura máxima para deixar o gráfico menor */
  overflow: hidden; /* Evita barras de rolagem */
  margin-left: 55px; /* Ajusta a margem esquerda se necessário */
}

@media (max-width: 768px) {
  .graph-wrapper {
    height: 300px; /* Ajuste a altura para telas pequenas */
  }
}

.data-status {
  font-size: 18px;
  font-weight: bold;
  color: #0073ff; /* Cor azul para destacar */
  margin-bottom: 20px; /* Espaço abaixo da mensagem */
}